@import url('https://fonts.googleapis.com/css?family=Righteous');

#back {
    margin: auto;
    text-align: center;
    margin-bottom: 5vh;
}
#jumboText{
    font-family: 'Righteous', cursive;
}

#cardBack{
    background-color: aqua;
    padding: 10vh;
}

#search{
    width: 50vw;
    margin: auto;
    text-align: center;
}

#btn{
    margin-bottom: 2.5vh;
    width: 40vh;
}
